<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "account1" class = "helloworld.Account">
    </bean>
    <bean id = "account2" class = "helloworld.Account">
        <property name="id" value="1"/>
        <property name="ownerName" value="Aric"/>
        <property name="balance" value="100.000"/>
    </bean>
</beans>