<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id= "studentService" class= "day2bt.Pojo.StudentServiceImpl"/>
    <bean id = "compa" class = "day2bt.Pojo.CompaIml">
        <property name="studentService" ref="studentService"/>
    </bean>
</beans>